.home__container {
    height: 100%;
    width: 100%;
}

.header__container {
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-style: solid;
    border-bottom-width: thin;
}

.header__container h1 {
    padding-right: 8rem;
}
.header__container a {
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 1.5rem;
    margin-top: 15px;
}