.header__container {
    background: var(--color-bg);
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 4rem;
}

.header__container h1 {
    cursor: pointer;
}

.header__container a {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
    margin-top: 15px;
    cursor: pointer;
}

.dropdown__container{
    z-index: 1;
    position: absolute;
    top: 101.5px;
    text-align: center;
    right: -180px;
    transform: translateX(-45%);
    background-color: var(--color-bg);
    border-style: solid;
    border-top-width: thin;
    width: 400px;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 40rem;
    animation: normal;

    -webkit-animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.dropdown__container li{
    padding: 10px;
    font-size: 1.2rem;
}

.dropdown__container li:first-child {
    margin-top: 30px;
}

.dropdown__container h5{
    text-align: left;
    font-size: 14px;
    margin-left: 1rem;
}

.h5__container h5:hover {
    cursor: pointer;
    color: var(--color-white);
    transition: all 400ms ease;
}

.h5__container {
    width: max-content;
    color: var(--color-accent);
}

.h5__container li:first-child{
    margin-top: 150px;
}

.header__container span:hover {
    color: var(--color-accent);
}

/* media queries (small devices)*/
@media screen and (max-width: 600px) {
}

/* media queries (medium devices)*/
@media screen and (max-width: 1024px) {
    .header__container {
        width: 100%;
        gap: 0rem;
    }

    .header__container a {   
        padding-left: 18px;
        padding-right: 0rem;
        font-size: 1rem;
        margin-top: 15px;
    }

    .dropdown__container {
        top: 74px;
        width: 350px;
    }
}
