.mhouse__container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-bottom-width: 1px;
    border-color: var(--color-accent);
}

.mimg__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mhouse-prop__container {
    display: flex;
    padding-left: 1rem;
    justify-content: space-around;
    font-size: 1rem;
    color: var(--color-accent);
	gap: 1rem;
}

.mprice__container {
    display: flex;
    font-size: 1rem;
    color: var(--color-accent)
}

.mdescription__container {
    display: flex;
    flex-direction: column;
    color: var(--color-bg);
}

.mdescription__container h5 {
    text-align: justify;
}

.mbtn {
    position: relative;
    right: 33%;
	padding: 1rem;
	font-size: 1rem;
	color: black;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
    text-align: center;
    margin-top: 1rem;
    margin-left: 10rem;
    width: 280px;
    margin-bottom: 1rem;
}


.mbtn:before, .mbtn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.mbtn:hover {
	color: var(--color-white);
	transition-delay: .5s;
}

.mbtn:hover:before {
	transition-delay: 0s;
}

.mbtn:hover:after {
	background: var(--color-bg);
	transition-delay: .35s;
}

.from-center:before {
	top: 0;
	left: 50%;
	height: 100%;
	width: 0;
	border: 1px solid var(--color-bg);
	border-left: 0;
	border-right: 0;
}

.from-center:after {
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background: var(--inv);
}

.from-center:hover:before {
	left: 0;
	width: 100%;
}

.from-center:hover:after {
	top: 0;
	height: 100%;
}