.carousel__container {
    display: flex;
    flex-direction: column;
}

.image__container span{
    margin-top: 12rem;
    margin-right: 5rem;
    margin-left: 5rem;
    font-size: 2rem;
    height: 20rem;
}

.image__container {
    display: flex;
    flex-direction: row;
    color: var(--color-bg);
    justify-content: center;
    margin: 0 auto;
    height: 50%;
    width: 50%;
    animation: normal;

    -webkit-animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.carousel__container h2 {
    margin: 1rem 0 0rem 0;
    color: var(--color-bg);
}

.title {
    font-size: 2rem;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 30%;
}