footer {
    background: var(--color-bg);
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
}

footer a {
    color: var(--color-bg);
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
    color: white;
}

.permalinks {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3.9rem;
}

.permalinks a {
    color: white;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}


.footer__socials a {
    color: var(--color-white);
    padding: 0.8rem;
    font-size: 1.5rem;
    border-radius: 0.7rem;
    display: flex;
}

/* media queries (small devices)*/
@media screen and (max-width: 1024px) {
    .permalinks {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .footer__socials{
        margin-bottom: 13rem;
    }

    footer {
        margin-top: 2rem;
    }

    .footer__logo {
        font-size: 1.5rem;
    }
}